.[orjson]

# packaging
hatch==1.6.3

# typing
mypy==1.1.1

# linters
black==23.3.0
isort==5.11.4; python_version<'3.8'
isort==5.12.0; python_version>='3.8'
flake8==3.9.2
importlib-metadata==4.13.0; python_version>='3.7'

# tests
pytest==7.2.2
coverage==7.2.2
fastapi==0.95.0
